@charset "utf-8";

$main-color: #60B99A;
$text-color: #554236;
$topic-color: #F77825;
$sub-color: #D3CE3D;
$sub-color2: #F1EFA5;
$white-color: #FAFAFA;
$ggl-font: 'Quicksand', sans-serif;
$sml-text: 0.9rem;

@mixin transition {
  transition: all .3s;
}

@mixin radius($radius) {
  border-radius: $radius;
}

@mixin float($float) {
  float: $float;
}

@mixin button-position {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

@mixin button-circle {
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: $text-color;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  @include transition;
  @include radius(50%);
}

/**
 * CommonSettings
 **/
html, body {
  color: $text-color;
}

header, main, footer {
  position: relative;
}

/**
 * Header
 **/
$header-height: 50px;
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  height: $header-height;
  text-align: center;
  background-color: $sub-color2;
  z-index: 9000;

  .write-button {
    left: 1rem;
    @include button-position;
  }

  .user-button {
    right: 1rem;
    @include button-position;
  }

  .user-button {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -20px;
  }

  h1.title {
    margin: 0;
    padding: 0;
    line-height: $header-height;
    font-family: $ggl-font;
  }
}

/**
 * main
 **/
main {
  margin-top: $header-height + 20;
  padding: 1rem;
}

#posts {
  display: none;

  form#post-contribution {
    input, textarea {
      float: left;
      outline: none;
      border: 1px solid $text-color;
      @include transition;
      &:focus {
        border: 1px solid $main-color;
      }
    }

    textarea.post-content--text {
      width: calc(100% - 100px);
    }

    .contribution-content {
      position: relative;
      padding-bottom: .5rem;
    }

    .contribution-submit {
      text-align: right;
    }

    .guide-text {
      width: 94px;
      float: left;
    }
  }
}

#contributions {
  .contribution {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid $main-color;

    .contribution-user {
      .user--icon {
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: $white-color;
        background-color: $sub-color;
        @include radius(3px);
      }

      .user--name {
        float: left;
        padding-left: .5rem;
      }
    }

    .contribution-body {
      margin-top: 1rem;

      .body--content {
        font-size: $sml-text;
      }
    }

    .contribution-footer {
      margin-top: 1rem;
      font-size: $sml-text - .1;

      .footer--new {
        color: $topic-color;
      }
    }
  }
}

/**
 * Footer
 **/
$footer-height: 50px;
footer {
  height: $footer-height;
  padding: 10px 0;
  background-color: $main-color;

  .sns-button {
    left: 1rem;
    @include button-position;
  }
}

/**
 * Components
 **/
button.header-circle {
  background-color: $white-color;
  @include button-circle;
  &:hover {
    transform: scale(1.1, 1.1);
    background-color: $sub-color;
  }
}

button.main-circle {
  background-color: $sub-color2;
  @include button-circle;
  &:hover {
    transform: scale(1.1, 1.1);
    background-color: $sub-color;
  }
}

button.footer-circle {
  margin-right: 5px;
  background-color: $white-color;
  @include button-circle;
  &:hover {
    transform: scale(1.1, 1.1);
    background-color: $sub-color2;
  }
}

/**
 * ClearFix
 **/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}