<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Kotori - Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <!-- endbower -->
    <!-- build:css -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>

    <!-- startHeader -->
    <header>
        <div class="write-button">
            <button class="header-circle">
                <i class="fa fa-pencil"></i>
            </button>
        </div>
        <h1 class="title">
            <a href="/">Kotori</a>
        </h1>
        <div class="user-button">
            <button class="header-circle hc--search hc--right">
                <i class="fa fa-search"></i>
            </button>
            <button class="header-circle hc--right hc--setting">
                <i class="fa fa-bars"></i>
            </button>
            <div class="user-button-details">
                <button class="main-circle">
                    <i class="fa fa-comments"></i>
                    <div class="button-menu">hoge</div>
                </button>
            </div>
        </div>

        <div class="settings">
            <div class="close-button">
                <button class="setting-circle">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="notice-error">
            <i class="fa fa-exclamation-triangle"></i>
            <span class="error-text"></span>に失敗しました
        </div>
    </header>
    <!-- endHeader -->

    <!-- startMain -->
    <main>

        <!-- startSection#mainsettings -->
        <section id="mainsettings">
            <div class="setting-limit">
                <button class="sub-circle">
                    <i class="fa fa-comments"></i>
                </button>
                <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=10">
                    <button class="setting-circle">
                        <span class="setting-text">10</span>
                    </button>
                </a>
                <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=30">
                    <button class="setting-circle">
                        <span class="setting-text">30</span>
                    </button>
                </a>
                <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=50">
                    <button class="setting-circle">
                      <span class="setting-text">50</span>
                    </button>
                </a>
            </div>

            {{#pagination}}
            <div class="setting-page">
                {{#hasPrev}}
                <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{prev}}">
                    <button class="setting-circle">
                        <i class="fa fa-angle-left"></i>
                    </button>
                </a>
                {{/hasPrev}}
                {{#hasNext}}
                <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{next}}">
                    <button class="setting-circle">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </a>
                {{/hasNext}}
            </div>
            {{/pagination}}
        </section>
        <!-- endSection#mainsettings -->

        <!-- startSection#Contributions -->
        <section id="contributions">
            {{#contributions}}
            <div class="contribution">
                <div class="contribution-user cf">
                    <div class="user--icon">
                        icon
                    </div>
                    <div class="user--name">
                        {{username}}
                    </div>
                </div>
                <div class="contribution-body">
                    <div class="body--title">
                        {{title}}
                    </div>
                    <div class="body--content">
                        {{{content}}}
                    </div>
                </div>
                <div class="contribution-footer">
                    {{#isNew}}
                    <span class="footer--new">New</span>
                    {{/isNew}}
                    {{editedCreatedTime}} ・ #{{id}}
                </div>
                <div class="contribution-del">
                    <div class="del-wrap">
                        <div class="del--inner cf">
                            <form id="admin-delete-contribution">
                                <input class="delete-key" type="password" placeholder="削除キー" maxlength="20">
                                <input class="delete-id" type="hidden" name="id" value="{{id}}">
                                <input class="delete-button" type="submit" value="削除">
                            </form>
                        </div>
                    </div>
                    <div class="del-guide">
                        <span><i class="fa fa-trash-o"></i></span>
                    </div>
                </div>
            </div>
            {{/contributions}}
            {{^contributions}}
            <div class="contribution">
                <div class="contribution-empty">Oops!</div>
                該当する投稿は見つかりませんでした。
            </div>
            {{/contributions}}
        </section>
        <!-- endSection#Contributions -->

        <!-- startSection#pagination -->
        {{#pagination}}
        <section id="pagination">
            {{#hasPrev}}
            <div class="page-prev">
                <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{prev}}">
                    <button class="setting-circle">
                        <i class="fa fa-angle-left"></i>
                    </button>
                </a>
            </div>
            {{/hasPrev}}

            <div class="page-current">
                {{#prevList}}
                <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
                    <button class="setting-circle small-circle">
                        <span class="setting-text">{{page}}</span>
                    </button>
                </a>
                {{/prevList}}

                <button class="sub-circle">
                    <span class="setting-text">{{current}}</span>
                </button>

                {{#nextList}}
                <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
                    <button class="setting-circle small-circle">
                        <span class="setting-text">{{page}}</span>
                    </button>
                </a>
                {{/nextList}}
            </div>

            {{#hasNext}}
            <div class="page-next">
                <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{next}}">
                    <button class="setting-circle">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </a>
            </div>
            {{/hasNext}}
        </section>
        {{/pagination}}
        <!-- endSection#pagination -->

    </main>
    <!-- endMain -->

    <!-- startFooter -->
    <footer>
        <div class="sns-button">
            <button class="footer-circle">
                <i class="fa fa-twitter"></i>
            </button>
            <button class="footer-circle">
                <i class="fa fa-github"></i>
            </button>
        </div>
    </footer>
    <!-- endFooter -->

    <!-- startPosts -->
    <div id="posts">
        <form id="post-contribution">
            <div class="contribution-content cf">
                <div class="guide-text">
                    名前
                </div>
                <input class="post-content--username" type="text" maxlength="20" required>
            </div>
            <div class="contribution-content cf">
                <div class="guide-text">
                    タイトル
                </div>
                <input class="post-content--title" type="text" maxlength="20" required>
            </div>
            <div class="contribution-content cf">
                <div class="guide-text">
                    本文
                </div>
                <textarea class="post-content--text" rows="10" required></textarea>
            </div>
            <div class="contribution-content cf">
                <div class="guide-text">
                    削除キー
                </div>
                <input class="post-content--deletekey" type="password" maxlength="20" required>
            </div>
            <div class="contribution-submit">
                <input class="post-content--submit" type="submit">
            </div>
        </form>
    </div>
    <!-- endPosts -->

    <!-- startSearch -->
    <div id="search">
        <form id="search-contribution">
            <div class="search-content cf">
                <span class="guide-text">
                    投稿検索
                </span>
                <input class="search-content--word" type="text" placeholder="キーワードを入力" maxlength="20">
            </div>
        </form>
    </div>
    <!-- endSearch -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- endbower -->
    <!-- build:js -->
    <script src="scripts/kotori.admin.js"></script>
    <script src="scripts/kotori.ajax.js"></script>
    <script src="scripts/kotori.animation.js"></script>
    <!-- endbuild -->
</body>
</html>