<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Kotori - Admin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="bower_components/tooltipster/css/tooltipster.css">
  <!-- endbower -->
  <!-- build:css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" href="styles/kotori.admin.css">
  <!-- endbuild -->
</head>
<body>
  <!-- startHeader -->
  <header>
    <h1 class="heading">
      <a href="{{path}}">Admin</a>
    </h1>
    <nav class="nav-header--right">
      <a href="/admin/ngword" class="tooltip" title="NGワード">
        <button class="btn btn--header">
          <i class="fa fa-commenting"></i>
        </button>
      </a>
      <a href="/admin/nguser">
        <button class="btn btn--header btn--margin tooltip" title="NGユーザ">
          <i class="fa fa-user-times"></i>
        </button>
      </a>
      <a href="/admin/log">
        <button class="btn btn--header btn--margin tooltip" title="サーバーログ">
          <i class="fa fa-file-text-o"></i>
        </button>
      </a>
      <a href="/">
        <button class="btn btn--header btn--margin tooltip" title="ホーム">
          <i class="fa fa-home"></i>
        </button>
      </a>
    </nav>
  </header>
  <!-- endHeader -->

  <!-- startMain -->
  <main>
    <!-- startSection#guide -->
    <section id="guide">
      <div class="guide__wrapper">
        <div class="guide__toggle">
          <button class="btn btn--sub btn--limit tooltip" title="表示件数を変更する">
            <i class="fa fa-comments"></i>
          </button>
        </div>
        <div class="guide__limit">
          <div class="guide__btn">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=10">
              <button class="btn btn--guide">
                <span class="btn__text">10</span>
              </button>
            </a>
          </div>
          <div class="guide__btn">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=30">
              <button class="btn btn--guide">
                <span class="btn__text">30</span>
              </button>
            </a>
          </div>
          <div class="guide__btn">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=50">
              <button class="btn btn--guide">
                <span class="btn__text">50</span>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="guide__pagination">
        {{#pagination}}
        <div class="pagination cf">
          {{#hasPrev}}
          <div class="pagination__prev">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{prev}}">
              <button class="btn btn--guide">
                <i class="fa fa-angle-left"></i>
              </button>
            </a>
          </div>
          {{/hasPrev}}
          <div class="pagination__current">
            {{#prevList}}
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
              <button class="btn btn--guide btn--small btn--margin">
                <span class="btn__text">{{page}}</span>
              </button>
            </a>
            {{/prevList}}
            <button class="btn btn--sub btn--notlink btn--margin">
              <span class="btn__text">{{current}}</span>
            </button>
            {{#nextList}}
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
              <button class="btn btn--guide btn--small btn--margin">
                <span class="btn__text">{{page}}</span>
              </button>
            </a>
            {{/nextList}}
          </div>
          {{#hasNext}}
          <div class="pagination__next">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{next}}">
              <button class="btn btn--margin btn--guide">
                <i class="fa fa-angle-right"></i>
              </button>
            </a>
          </div>
          {{/hasNext}}
        </div>
        {{/pagination}}
      </div>
    </section>
    <!-- endSection#guide -->

    <!-- startSection#contributions -->
    <section id="contributions">
      {{#contributions}}
      <div class="contribution">
        <div class="contribution__header">
          <div class="update-guide">
            <i class="fa fa-pencil-square-o"></i>
          </div>
          <div class="delete-guide">
            <form class="delete-contribution">
              <input class="delete-id" type="hidden" name="id" value="{{id}}">
            </form>
            <i class="fa fa-trash-o"></i>
          </div>
        </div>
        <div class="contribution__user cf">
          <div class="contribution__user--username">
            {{username}}
          </div>
          <div class="contribution__user--userid">
            <small>@{{userid}}</small>
          </div>
        </div>
        <div class="contribution__body">
          <div class="contribution__body--title">
            {{title}}
          </div>
          <div class="contribution__body--content">
            {{{content}}}
          </div>
        </div>
        <div class="contribution__footer">
          {{#isNew}}
          <span class="contribution__footer--new">
            New
          </span>
          {{/isNew}}
          {{editedCreatedTime}} ・ #{{id}}
        </div>
        <div class="contribution__edit">
          <form class="update-contribution">
            <input type="hidden" class="update-id" name="id" value="{{id}}">
            <div class="contribution__dummy"></div>
            <div class="contribution__body">
                <div class="contribution__body--title">
                  <input type="text" class="update-title" value="{{title}}" name="title" maxlength="20" required>
                </div>
                <div class="contribution__body--content">
                  <textarea name="content" class="update-text" required>{{{content}}}</textarea>
                </div>
            </div>
            <div class="contribution__submit">
              <input type="submit" value="更新">
            </div>
          </form>
        </div>
      </div>
      {{/contributions}}
      {{^contributions}}
      <div class="contribution">
        <div class="contribution__empty">
          <h2 class="empty">
            Oops!
          </h2>
          該当する投稿は見つかりませんでした。
        </div>
      </div>
      {{/contributions}}
    </section>
    <!-- endSection#contributions -->

    <!-- startSection.pagination -->
    <section class="pagination">
    {{#pagination}}
    <div class="pagination--bottom cf">
      {{#hasPrev}}
      <div class="pagination__prev">
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{prev}}">
          <button class="btn btn--guide">
            <i class="fa fa-angle-left"></i>
          </button>
        </a>
      </div>
      {{/hasPrev}}
      <div class="pagination__current">
        {{#prevList}}
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
          <button class="btn btn--guide btn--small btn--margin">
            <span class="btn__text">{{page}}</span>
          </button>
        </a>
        {{/prevList}}
        <button class="btn btn--sub btn--notlink btn--margin">
          <span class="btn__text">{{current}}</span>
        </button>
        {{#nextList}}
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
          <button class="btn btn--guide btn--small btn--margin">
            <span class="btn__text">{{page}}</span>
          </button>
        </a>
        {{/nextList}}
      </div>
      {{#hasNext}}
      <div class="pagination__next">
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{next}}">
          <button class="btn btn--guide btn--margin">
            <i class="fa fa-angle-right"></i>
          </button>
        </a>
      </div>
      {{/hasNext}}
    </section>
    {{/pagination}}
    <!-- endSection.pagination -->

  </main>
  <!-- endMain-->

  <!-- startFooter -->
  <footer>
    <nav class="nav-footer--sns">
      <a href="https://github.com/nagisio/kotori">
        <button class="btn btn--footer">
          <i class="fa fa-github"></i>
        </button>
      </a>
    </nav>
  </footer>
  <!-- endFooter -->

  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="bower_components/tooltipster/js/jquery.tooltipster.min.js"></script>
  <!-- endbower -->
  <!-- build:js -->
  <script src="scripts/kotori.ajax.js"></script>
  <script src="scripts/kotori.animation.js"></script>
  <script src="scripts/kotori.admin.js"></script>
  <!-- endbuild -->
</body>
</html>