<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Kotori - Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <!-- endbower -->
    <!-- build:css -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="styles/kotori.admin.ng.css">
    <!-- endbuild -->
</head>
<body>

    <!-- startHeader -->
    <header>
        <h1 class="title">
            <a href="/admin/ng">Kotori - NGWord</a>
        </h1>
        <div class="notice-error">
            <i class="fa fa-exclamation-triangle"></i>
            <span class="error-text"></span>
        </div>
    </header>
    <!-- endHeader -->


    <!-- startMain -->
    <main>
        <section id="nglists">
            <div class="form-ngword">
                <form id="ngword">
                    <input type="text" class="ngword-word">
                    <input type="submit" value="追加">
                </form>
            </div>
            {{#nglist}}
            <div class="nglist">
                <div class="nglist-word">
                    <span class="nglist-id">{{id}}</span>:
                    <span class="nglist-word">{{word}}</span>
                </div>
                <div class="nglist-del">
                    <span><i class="fa fa-trash-o"></i></span>
                </div>
            </div>
            {{/nglist}}
        </section>
    </main>
    <!-- endMain -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- endbower -->
    <!-- build:js -->
    <!-- endbuild -->
</body>
</html>