<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Kotori</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="bower_components/tooltipster/css/tooltipster.css">
  <!-- endbower -->
  <!-- build:css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" href="styles/kotori.main.css">
  <!-- endbuild -->
</head>
<body>
  <!-- startHeader -->
  <header>
    <nav class="nav-header--left">
      <button class="btn btn--header btn--write">
        <i class="fa fa-pencil"></i>
      </button>
      <button class="btn btn--header btn--margin btn--search">
        <i class="fa fa-search"></i>
      </button>
    </nav>
    <h1 class="heading">
      <a href="/">Kotori</a>
    </h1>
    <nav class="nav-header--right">
      <a href="/my" class="tooltip" title="マイページ">
        <button class="btn btn--header">
          <i class="fa fa-user"></i>
        </button>
      </a>
      <button class="btn btn--header btn--margin btn--signout tooltip" title="ログアウト">
        <i class="fa fa-sign-out"></i>
      </button>
    </nav>
  </header>
  <!-- endHeader -->

  <!-- startMain -->
  <main>
    <!-- startSection#guide -->
    <section id="guide">
      <div class="guide__wrapper">
        <div class="guide__toggle">
          <button class="btn btn--sub btn--limit tooltip" title="表示件数を変更する">
            <i class="fa fa-comments"></i>
          </button>
        </div>
        <div class="guide__limit">
          <div class="guide__btn">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=10">
              <button class="btn btn--guide">
                <span class="btn__text">10</span>
              </button>
            </a>
          </div>
          <div class="guide__btn">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=30">
              <button class="btn btn--guide">
                <span class="btn__text">30</span>
              </button>
            </a>
          </div>
          <div class="guide__btn">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=50">
              <button class="btn btn--guide">
                <span class="btn__text">50</span>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="guide__pagination">
        {{#pagination}}
        <div class="pagination cf">
          {{#hasPrev}}
          <div class="pagination__prev">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{prev}}">
              <button class="btn btn--guide btn--lmargin">
                <i class="fa fa-angle-left"></i>
              </button>
            </a>
          </div>
          {{/hasPrev}}
          <div class="pagination__current">
            {{#prevList}}
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
              <button class="btn btn--guide btn--small btn--margin">
                <span class="btn__text">{{page}}</span>
              </button>
            </a>
            {{/prevList}}
            <button class="btn btn--sub btn--notlink btn--margin">
              <span class="btn__text">{{current}}</span>
            </button>
            {{#nextList}}
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
              <button class="btn btn--guide btn--small btn--margin">
                <span class="btn__text">{{page}}</span>
              </button>
            </a>
            {{/nextList}}
          </div>
          {{#hasNext}}
          <div class="pagination__next">
            <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{next}}">
              <button class="btn btn--rmargin btn--guide">
                <i class="fa fa-angle-right"></i>
              </button>
            </a>
          </div>
          {{/hasNext}}
        </div>
        {{/pagination}}
      </div>
    </section>
    <!-- endSection#guide -->

    <!-- startSection#contributions -->
    <section id="contributions">
      {{#contributions}}
      <div class="contribution">
        {{#isDeletable}}
        <div class="contribution__header">
          <div class="delete-guide">
            <form class="delete-contribution">
              <input class="delete-id" type="hidden" name="id" value="{{id}}">
            </form>
            <i class="fa fa-trash-o"></i>
          </div>
        </div>
        {{/isDeletable}}
        <div class="contribution__user cf">
          <div class="contribution__user--username">
            {{username}}
          </div>
          <div class="contribution__user--userid">
            <small>@{{userid}}</small>
          </div>
        </div>
        <div class="contribution__body">
          <div class="contribution__body--title">
            {{title}}
          </div>
          <div class="contribution__body--content">
            {{{content}}}
          </div>
        </div>
        <div class="contribution__footer">
          {{#isNew}}
          <span class="contribution__footer--new">
            New
          </span>
          {{/isNew}}
          {{editedCreatedTime}} ・ #{{id}}
        </div>
      </div>
      {{/contributions}}
      {{^contributions}}
      <div class="contribution">
        <div class="contribution__empty">
          <h2 class="empty">
            Oops!
          </h2>
          該当する投稿は見つかりませんでした。
        </div>
      </div>
      {{/contributions}}
    </section>
    <!-- endSection#contributions -->

    <!-- startSection.pagination -->
    <section class="pagination">
    {{#pagination}}
    <div class="pagination--bottom cf">
      {{#hasPrev}}
      <div class="pagination__prev">
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{prev}}">
          <button class="btn btn--guide btn--lmargin">
            <i class="fa fa-angle-left"></i>
          </button>
        </a>
      </div>
      {{/hasPrev}}
      <div class="pagination__current">
        {{#prevList}}
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
          <button class="btn btn--guide btn--small btn--margin">
            <span class="btn__text">{{page}}</span>
          </button>
        </a>
        {{/prevList}}
        <button class="btn btn--sub btn--notlink btn--margin">
          <span class="btn__text">{{current}}</span>
        </button>
        {{#nextList}}
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
          <button class="btn btn--guide btn--small btn--margin">
            <span class="btn__text">{{page}}</span>
          </button>
        </a>
        {{/nextList}}
      </div>
      {{#hasNext}}
      <div class="pagination__next">
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{next}}">
          <button class="btn btn--guide btn--rmargin">
            <i class="fa fa-angle-right"></i>
          </button>
        </a>
      </div>
      {{/hasNext}}
    </section>
    {{/pagination}}
    <!-- endSection.pagination -->

  </main>
  <!-- endMain-->

  <!-- startFooter -->
  <footer>
    <nav class="nav-footer--sns">
      <a href="https://github.com/nagisio/kotori">
        <button class="btn btn--footer">
          <i class="fa fa-github"></i>
        </button>
      </a>
    </nav>
  </footer>
  <!-- endFooter -->

  <!-- startPost -->
  <div id="post">
    <form id="post-contribution">
      <div class="post-wrapper cf">
        <div class="post-wrapper__text">
          タイトル
        </div>
        <input class="post-title" type="text" name="title" maxlength="20" required>
      </div>
      <div class="post-wrapper cf">
        <div class="post-wrapper__text">
          本文
        </div>
        <textarea class="post-wrapper__tarea post-content" name="content" rows="10" required></textarea>
      </div>
      <div class="post-wrapper">
        <div class="post-wrapper__submit">
          <input class="post-submit" type="submit" value="投稿">
        </div>
      </div>
    </form>
  </div>
  <!-- endPost -->

  <!-- startSearch -->
  <div id="search">
    <form id="search-contribution">
      <div class="search-wrapper cf">
        <div class="search-wrapper__text">
          投稿検索
        </div>
        <input class="search-keyword" type="text" placeholder="キーワードを入力" maxlength="20">
      </div>
    </form>
  </div>
  <!-- endSearch -->

  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="bower_components/tooltipster/js/jquery.tooltipster.min.js"></script>
  <!-- endbower -->
  <!-- build:js -->
  <script src="scripts/kotori.ajax.js"></script>
  <script src="scripts/kotori.animation.js"></script>
  <script src="scripts/kotori.main.js"></script>
  <!-- endbuild -->
</body>
</html>