<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Bulletin Board Sample</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <!-- endbower -->
    <!-- build:css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>
    <!-- startHeader -->
    <header>
        <h1>{{msg}}</h1>
    </header>
    <!-- endHeader -->

    <!-- startMain -->
    <main>
        <form id="post-content">
            <input class="post-content--title" type="text" maxlength="20">
            <br>
            <textarea class="post-content--text" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" value="送信">
        </form>

        <ul>
            {{#posts}}
            <li>
                {{id}} : {{date}}
                <br>
                {{title}}
                <br>
                {{content}}
            </li>
            {{/posts}}
        </ul>
    </main>
    <!-- endMain -->

    <!-- startFooter -->
    <footer>

    </footer>
    <!-- endFooter -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- endbower -->
    <!-- build:js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>