<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>マイページ | Kotori</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <!-- endbower -->
  <!-- build:css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" href="styles/kotori.main.css">
  <!-- endbuild -->
</head>
<body>
  <!-- startHeader -->
  <header>
    <nav class="nav-header--left">
      <a href="/">
        <button class="btn btn--header">
          <i class="fa fa-home"></i>
        </button>
      </a>
      <button class="btn btn--header btn--margin btn--write">
        <i class="fa fa-pencil"></i>
      </button>
    </nav>
    <h1 class="heading">
      <a href="/my">{{#user}}@{{userid}}{{/user}}{{^user}}Kotori{{/user}}</a>
    </h1>
    <nav class="nav-header--right">
      <button class="btn btn--header btn--signout">
        <i class="fa fa-sign-out"></i>
      </button>
    </nav>
    <div class="notice notice--error">
      <i class="fa fa-exclamation-triangle"></i>
      <span class="notice__text"></span>
    </div>
  </header>
  <!-- endHeader -->

  <!-- startMain -->
  <main>
    <!-- startSection#guide -->
    <section id="guide">
      <div class="guide__limit">
        <button class="btn btn--sub btn--notlink">
          <i class="fa fa-comments"></i>
        </button>
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=10">
          <button class="btn btn--guide btn--margin">
            <span class="btn__text">10</span>
          </button>
        </a>
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=30">
          <button class="btn btn--guide btn--margin">
            <span class="btn__text">30</span>
          </button>
        </a>
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]=50">
          <button class="btn btn--guide btn--margin">
            <span class="btn__text">50</span>
          </button>
        </a>
      </div>
    </section>
    <!-- endSection#guide -->

    <!-- startSectio.pagination -->
    {{#pagination}}
    <section class="pagination">
      {{#hasPrev}}
      <div class="pagination__prev">
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{prev}}">
          <button class="btn btn--guide">
            <i class="fa fa-angle-left"></i>
          </button>
        </a>
      </div>
      {{/hasPrev}}
      <div class="pagination__current">
        {{#prevList}}
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
          <button class="btn btn--guide btn--small btn--margin">
            <span class="btn__text">{{page}}</span>
          </button>
        </a>
        {{/prevList}}
        <button class="btn btn--sub btn--margin">
          <span class="btn__text">{{current}}</span>
        </button>
        {{#nextList}}
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
          <button class="btn btn--guide btn--small btn--margin">
            <span class="btn__text">{{page}}</span>
          </button>
        </a>
        {{/nextList}}
      </div>
      {{#hasNext}}
      <div class="pagination__next">
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{next}}">
          <button class="btn btn--guide">
            <i class="fa fa-angle-right"></i>
          </button>
        </a>
      </div>
      {{/hasNext}}
    </section>
    {{/pagination}}
    <!-- endSectio.pagination -->

    <!-- startSectio#contributions -->
    <section id="contributions">
      {{#contributions}}
      <div class="contribution">
        <div class="contribution__user cf">
          <div class="contribution__user--icon">
            icon
          </div>
          <div class="contribution__user--name">
            {{username}}
            <small>@{{userid}}</small>
          </div>
        </div>
        <div class="contribution__body">
          <div class="contribution__body--title">
            {{title}}
          </div>
          <div class="contribution__body--content">
            {{{content}}}
          </div>
        </div>
        <div class="contribution__footer">
          {{#isNew}}
          <span class="contribution__footer--new">
            New
          </span>
          {{/isNew}}
          {{editedCreatedTime}} ・ #{{id}}
          <div class="delete-guide">
            <form id="delete-contribution">
              <input class="delete-id" type="hidden" name="id" value="{{id}}">
            </form>
            <i class="fa fa-trash-o"></i>
          </div>
        </div>
      </div>
      {{/contributions}}
      {{^contributions}}
      <div class="contribution">
        <h2 class="empty">
          Oops!
        </h2>
        該当する投稿は見つかりませんでした。
      </div>
      {{/contributions}}
    </section>
    <!-- endSectio#contributions -->

    <!-- startSectio.pagination -->
    {{#pagination}}
    <section class="pagination">
      {{#hasPrev}}
      <div class="pagination__prev">
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{prev}}">
          <button class="btn btn--guide">
            <i class="fa fa-angle-left"></i>
          </button>
        </a>
      </div>
      {{/hasPrev}}
      <div class="pagination__current">
        {{#prevList}}
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
          <button class="btn btn--guide btn--small btn--margin">
            <span class="btn__text">{{page}}</span>
          </button>
        </a>
        {{/prevList}}
        <button class="btn btn--sub btn--margin">
          <span class="btn__text">{{current}}</span>
        </button>
        {{#nextList}}
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{page}}">
          <button class="btn btn--guide btn--small btn--margin">
            <span class="btn__text">{{page}}</span>
          </button>
        </a>
        {{/nextList}}
      </div>
      {{#hasNext}}
      <div class="pagination__next">
        <a href="{{path}}?{{#query}}{{key}}={{value}}&{{/query}}s[limit]={{limit}}&s[page]={{next}}">
          <button class="btn btn--guide">
            <i class="fa fa-angle-right"></i>
          </button>
        </a>
      </div>
      {{/hasNext}}
    </section>
    {{/pagination}}
    <!-- endSectio.pagination -->

  </main>
  <!-- endMain-->

  <!-- startFooter -->
  <footer>
    <nav class="nav-footer--sns">
      <button class="btn btn--footer">
        <i class="fa fa-twitter"></i>
      </button>
      <a href="https://github.com/nagisio/kotori">
        <button class="btn btn--footer btn--margin">
          <i class="fa fa-github"></i>
        </button>
      </a>
    </nav>
  </footer>
  <!-- endFooter -->

  <!-- startPost -->
  <div id="post">
    <form id="post-contribution">
      <div class="post-wrapper cf">
        <div class="post-wrapper__text">
          タイトル
        </div>
        <input class="post-title" type="text" name="title" maxlength="20" required>
      </div>
      <div class="post-wrapper cf">
        <div class="post-wrapper__text">
          本文
        </div>
        <textarea class="post-wrapper__tarea post-content" name="content" rows="10" required></textarea>
      </div>
      <div class="post-wrapper">
        <div class="post-wrapper__submit">
          <input class="post-submit" type="submit" value="投稿">
        </div>
      </div>
    </form>
  </div>
  <!-- endPost -->

  <!-- startSearch -->
  <div id="search">
    <form id="search-contribution">
      <div class="search-wrapper cf">
        <div class="search-wrapper__text">
          投稿検索
        </div>
        <input class="search-keyword" type="text" placeholder="キーワードを入力" maxlength="20">
      </div>
    </form>
  </div>
  <!-- endSearch -->

  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <!-- endbower -->
  <!-- build:js -->
  <script src="scripts/kotori.ajax.js"></script>
  <script src="scripts/kotori.animation.js"></script>
  <script src="scripts/kotori.main.js"></script>
  <!-- endbuild -->
</body>
</html>