/**
 * Common Settings
 */
html, body {
  color: #554236;
}

header, main, footer {
  position: relative;
}

main {
  margin-top: 70px;
  margin-bottom: 1rem;
}

a {
  transition: all .3s;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  color: inherit;
}

input[type="submit"] {
  padding: 1px .25rem;
  height: 28px;
  background-color: #FAFAFA;
  vertical-align: middle;
  transition: all .3s;
}
input[type="submit"]:hover {
  border: 1px solid #60B99A;
}

input {
  height: 24px;
}

input, textarea {
  float: left;
  outline: none;
  border: 1px solid #554236;
  transition: all .3s;
}
input:focus, textarea:focus {
  border: 1px solid #60B99A;
}

/**
 * ClearFix
 */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.active {
  visibility: visible !important;
}

/**
 * Tooltipster Theme
 */
.tooltipster-kotori {
  border-radius: 2px;
  background: #60B99A;
  color: #FAFAFA;
}
.tooltipster-kotori .tooltipster-content {
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: .5rem;
}

/**
 * Header Settings
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  height: 50px;
  text-align: center;
  background-color: #F1EFA5;
  z-index: 9000;
}

.nav-header--left, .nav-header--right {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.nav-header--left {
  left: 1rem;
}

.nav-header--right {
  right: 1rem;
}

.heading {
  margin: 0;
  padding: 0;
  line-height: 50px;
  font-family: "Quicksand", sans-serif;
}

/**
 * Button Assets
 */
.btn--header, .btn--guide, .btn--footer, .btn--sub {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  line-height: 1rem;
  color: #554236;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .3s;
  border-radius: 50%;
}
.btn--header:hover, .btn--guide:hover, .btn--footer:hover, .btn--sub:hover {
  transform: scale(1.1, 1.1);
}

.btn--header {
  background-color: #FAFAFA;
}
.btn--header:hover {
  background-color: #D3CE3D;
}

.btn--guide, .btn--footer {
  background-color: #FAFAFA;
}
.btn--guide:hover, .btn--footer:hover {
  background-color: #F1EFA5;
}

.btn--sub {
  background-color: #F1EFA5;
}
.btn--sub:hover {
  background-color: #D3CE3D;
}

.btn--small {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}

.btn--margin {
  margin-left: 5px;
}

.btn--lmargin {
  margin-right: 5px;
}

.btn--rmargin {
  margin-left: 10px;
}

.btn--notlink:hover {
  cursor: default;
}

.btn__text {
  font-size: 1rem;
}

/**
 * NG Components
 */
#form-ng {
  padding: 1rem 1rem 0;
  height: 28px;
}

#nglist {
  padding: 1rem;
}

.ng {
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #60B99A;
  z-index: 10;
}
.ng .ng__word {
  width: 95%;
  word-wrap: break-word;
}
.ng .ng__word .ng-id {
  float: left;
  margin-right: .5rem;
}
.ng .ng__word .ng-word {
  float: left;
}
.ng .ng__delete {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: all .3s;
}
.ng .ng__delete:hover {
  color: #F77825;
  cursor: pointer;
}
