/**
 * Common Settings
 */
html, body {
  color: #554236;
}

header, main, footer {
  position: relative;
}

main {
  margin-top: 70px;
  margin-bottom: 1rem;
}

a {
  transition: all .3s;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  color: inherit;
}

input[type="submit"] {
  padding: 1px .25rem;
  height: 28px;
  background-color: #FAFAFA;
  vertical-align: middle;
  transition: all .3s;
}
input[type="submit"]:hover {
  border: 1px solid #60B99A;
}

input {
  height: 24px;
}

input, textarea {
  float: left;
  outline: none;
  border: 1px solid #554236;
  transition: all .3s;
}
input:focus, textarea:focus {
  border: 1px solid #60B99A;
}

/**
 * ClearFix
 */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.active {
  visibility: visible !important;
}

/**
 * Header Settings
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  height: 50px;
  text-align: center;
  background-color: #F1EFA5;
  z-index: 9000;
}

.nav-header--left, .nav-header--right {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.nav-header--left {
  left: 1rem;
}

.nav-header--right {
  right: 1rem;
}

.heading {
  margin: 0;
  padding: 0;
  line-height: 50px;
  font-family: "Quicksand", sans-serif;
}

/**
 * Main Components
 **/
#guide {
  position: relative;
  height: 40px;
  padding: 1rem 1rem 0;
}
#guide .guide__limit, #guide .guide__pagination {
  position: absolute;
  bottom: 0;
}
#guide .guide__limit {
  left: 1rem;
}
#guide .guide__pagination {
  right: 1rem;
}

#contributions {
  padding: 0 1rem;
}

.contribution {
  position: relative;
  margin: 1rem 0;
  border: 1px solid #60B99A;
}
.contribution .contribution__body {
  margin-top: 1rem;
}
.contribution .empty {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #F77825;
  margin: 0 0 .5rem;
}
.contribution .contribution__empty {
  padding: 1rem;
}
.contribution .contribution__header .delete-guide, .contribution .contribution__header .update-guide {
  position: absolute;
  top: .5rem;
  text-align: right;
  font-size: 1rem;
  z-index: 100;
  transition: all .3s;
}
.contribution .contribution__header .delete-guide:hover, .contribution .contribution__header .update-guide:hover {
  color: #F77825;
  cursor: pointer;
}
.contribution .contribution__header .delete-guide {
  right: 1rem;
}
.contribution .contribution__header .update-guide {
  right: 2.5rem;
}
.contribution .contribution__user {
  padding: .5rem 1rem;
  border-bottom: 1px solid #60B99A;
}
.contribution .contribution__user .contribution__user--username, .contribution .contribution__user .contribution__user--userid {
  float: left;
}
.contribution .contribution__user .contribution__user--username {
  margin-right: .5rem;
}
.contribution .contribution__body {
  padding: 0 1rem;
}
.contribution .contribution__body .contribution__body--title {
  height: 28px;
}
.contribution .contribution__body .contribution__body--content {
  margin-top: .5rem;
  font-size: 0.9rem;
  word-wrap: break-word;
}
.contribution .contribution__footer {
  padding: 0 1rem .5rem;
  margin-top: 1.5rem;
  font-size: 0.8rem;
}
.contribution .contribution__footer .contribution__footer--new {
  color: #F77825;
}

.pagination {
  position: relative;
  height: 40px;
  padding: 0 1rem;
}
.pagination .pagination__prev {
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: 10;
}
.pagination .pagination__current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.pagination .pagination__next {
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 10;
}

/**
 * Footer Settings
 */
footer {
  height: 50px;
  padding: 10px 0;
  background-color: #60B99A;
}
footer .nav-footer--sns {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 1rem;
}

/**
 * Post Component
 */
#post {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #F1EFA5;
  display: none;
  z-index: 1000;
}

#post-contribution {
  padding: 1rem;
}

.post-wrapper {
  padding-bottom: .5rem;
}
.post-wrapper .post-wrapper__text {
  float: left;
  width: 94px;
}
.post-wrapper .post-wrapper__tarea {
  width: calc(100% - 100px);
}
.post-wrapper .post-wrapper__submit {
  height: 28px;
}

/**
 * Search Component
 */
#search {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #F1EFA5;
  display: none;
  z-index: 1000;
}

.search-wrapper {
  padding: 1rem;
}
.search-wrapper .search-wrapper__text {
  float: left;
  width: 94px;
}

/**
 * Button Assets
 */
.btn--header, .btn--guide, .btn--footer, .btn--sub {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  line-height: 1rem;
  color: #554236;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .3s;
  border-radius: 50%;
}
.btn--header:hover, .btn--guide:hover, .btn--footer:hover, .btn--sub:hover {
  transform: scale(1.1, 1.1);
}

.btn--header {
  background-color: #FAFAFA;
}
.btn--header:hover {
  background-color: #D3CE3D;
}

.btn--guide, .btn--footer {
  background-color: #FAFAFA;
}
.btn--guide:hover, .btn--footer:hover {
  background-color: #F1EFA5;
}

.btn--sub {
  background-color: #F1EFA5;
}
.btn--sub:hover {
  background-color: #D3CE3D;
}

.btn--small {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}

.btn--margin {
  margin-left: 5px;
}

.btn--notlink:hover {
  cursor: default;
}

.btn__text {
  font-size: 1rem;
}
