/**
 * CommonSettings
 **/
html, body {
  color: #554236;
}

header, main, footer {
  position: relative;
}

a {
  transition: all .3s;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  color: inherit;
}

/**
 * Header
 **/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  height: 50px;
  text-align: center;
  background-color: #F1EFA5;
  z-index: 9000;
}
header .write-button {
  left: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
header .user-button,
header .close-button {
  right: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
header .write-button-details {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
}
header .write-button-details button {
  margin-top: .75rem;
}
header .write-button-details button .button-menu {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 40px;
  height: 40px;
  line-height: 40px;
  padding-left: .5rem;
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  transition: all .3s;
}
header .user-button-details {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .3s;
}
header .user-button-details button {
  margin-top: .75rem;
}
header .user-button-details button .button-menu {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 40px;
  height: 40px;
  line-height: 40px;
  padding-right: .5rem;
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  transition: all .3s;
}
header h1.title {
  margin: 0;
  padding: 0;
  line-height: 50px;
  font-family: "Quicksand", sans-serif;
}
header .settings {
  visibility: hidden;
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: calc(100% - 20px);
  padding: 10px 0;
  opacity: 0;
  background-color: #60B99A;
  z-index: 9999;
  transition: all .3s;
}

/**
 * main
 **/
main {
  margin-top: 70px;
}

#posts {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #F1EFA5;
  display: none;
}
#posts form#post-contribution {
  padding: 1rem;
}
#posts form#post-contribution input, #posts form#post-contribution textarea {
  float: left;
  outline: none;
  border: 1px solid #554236;
  transition: all .3s;
}
#posts form#post-contribution input:focus, #posts form#post-contribution textarea:focus {
  border: 1px solid #60B99A;
}
#posts form#post-contribution textarea.post-content--text {
  width: calc(100% - 100px);
}
#posts form#post-contribution .contribution-content {
  position: relative;
  padding-bottom: .5rem;
}
#posts form#post-contribution .contribution-submit {
  text-align: right;
  padding-top: .5rem;
}
#posts form#post-contribution .guide-text {
  width: 94px;
  float: left;
}

#mainsettings {
  padding: 1rem 1rem 0;
}
#mainsettings .setting-button button {
  margin-right: 5px;
}

#contributions {
  padding: 0 1rem;
}
#contributions .contribution {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #60B99A;
}
#contributions .contribution .contribution-user .user--icon {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FAFAFA;
  background-color: #D3CE3D;
  border-radius: 3px;
}
#contributions .contribution .contribution-user .user--name {
  float: left;
  padding-left: .5rem;
}
#contributions .contribution .contribution-body {
  margin-top: 1rem;
}
#contributions .contribution .contribution-body .body--content {
  font-size: 0.9rem;
  word-wrap: break-word;
}
#contributions .contribution .contribution-footer {
  margin-top: 1rem;
  font-size: 0.8rem;
}
#contributions .contribution .contribution-footer .footer--new {
  color: #F77825;
}

#pagination {
  position: relative;
  height: 40px;
  padding: 0 1rem 1rem;
}
#pagination .page-prev {
  position: absolute;
  top: 0;
  left: 1rem;
}
#pagination .page-next {
  position: absolute;
  top: 0;
  right: 1rem;
}

/**
 * Footer
 **/
footer {
  height: 50px;
  padding: 10px 0;
  background-color: #60B99A;
}
footer .sns-button {
  left: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F1EFA5;
  opacity: 0;
  z-index: 1;
  transition: all .3s;
}

/**
 * Components
 **/
div.active {
  visibility: visible;
}

button.header-circle {
  background-color: #FAFAFA;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: #554236;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .3s;
  border-radius: 50%;
}
button.header-circle:hover {
  transform: scale(1.1, 1.1);
  background-color: #D3CE3D;
}

button.main-circle {
  background-color: #60B99A;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: #554236;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .3s;
  border-radius: 50%;
}
button.main-circle:hover {
  transform: scale(1.1, 1.1);
  background-color: #60B99A;
}

button.sub-circle {
  background-color: #F1EFA5;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: #554236;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .3s;
  border-radius: 50%;
}
button.sub-circle:hover {
  transform: scale(1.1, 1.1);
  background-color: #D3CE3D;
}

button.footer-circle {
  margin-right: 5px;
  background-color: #FAFAFA;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: #554236;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .3s;
  border-radius: 50%;
}
button.footer-circle:hover {
  transform: scale(1.1, 1.1);
  background-color: #F1EFA5;
}

button.setting-circle {
  background-color: #FAFAFA;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: #554236;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .3s;
  border-radius: 50%;
}
button.setting-circle:hover {
  transform: scale(1.1, 1.1);
  background-color: #F1EFA5;
}
button.setting-circle .setting-text {
  font-size: 1rem;
  line-height: 40px;
}

/**
 * ClearFix
 **/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
