// 変数定義
$main-color: #60B99A;
$text-color: #554236;
$topic-color: #F77825;
$sub-color: #D3CE3D;
$sub-color2: #F1EFA5;
$white-color: #FAFAFA;
$ggl-font: 'Quicksand', sans-serif;
$sml-text: 0.9rem;
$nml-text: 1rem;
$big-text: 1.5rem;
$header-height: 50px;