@import "assets";
@import "mixins";

/**
 * ContributionEdit Component
 */
.contribution {
  .contribution__edit {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;
    visibility: hidden;
    z-index: 99;
    @include transition;

    #update-contribution {
      opacity: 0;
      @include transition;

      .update-text {
        width: calc(100% - 6px);
      }
    }
  }

  .contribution__dummy {
    height: 50px;
  }

  .contribution__submit {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: $sml-text;
  }
}