@import "assets";
@import "mixins";

/**
 * Header Settings
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  height: $header-height;
  text-align: center;
  background-color: $sub-color2;
  z-index: 9000;
}

%nav-header {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.nav-header--left {
  @extend %nav-header;
  left: 1rem;
}

.nav-header--right {
  @extend %nav-header;
  right: 1rem;
}

.heading {
  margin: 0;
  padding: 0;
  line-height: $header-height;
  font-family: $ggl-font;
}