@import "assets";
@import "mixins";

/**
 * register Components
 */
#register {
  padding: 50px 0 0;
  width: 100%;
}

#login {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1rem .5rem;
  border-top: 1px solid $white-color;
  background-color: $sub-color2;
  opacity: 0;
  visibility: hidden;
  @include transition;
}

%submit-button {
  background-color: $main-color;
  color: $white-color;
  border: 1px solid $main-color;
}

.register-wrapper {
  width: 250px;
  height: 28px;
  margin: 0 auto;
  padding-bottom: 1rem;

  input {
    width: 246px;
  }

  input[type="submit"] {
    @extend %submit-button;
    width: 250px;
  }
}

.login-wrapper {
  width: 180px;
  height: 28px;
  padding-bottom: .5rem;

  input {
    width: 176px;
  }

  input[type="submit"] {
    @extend %submit-button;
    width: 180px;
  }
}

#side-tip {
  position: absolute;
  top: 50px;
  left: calc(50% + 125px);
  width: 200px;
  margin-left: .5rem;

  .side-tip__msg {
    height: 28px;
    line-height: .9rem;
    font-size: $sml-text;
    color: $topic-color;
    margin-bottom: 1rem;
    opacity: 0;
    @include transition;
  }
}
