@import "assets";
@import "mixins";

/**
 * Main Components
 **/
#guide {
  position: relative;
  height: 40px;
  padding: 1rem 1rem 0;

  %guide-pos {
    position: absolute;
    bottom: 0;
  }

  .guide__limit {
    @extend %guide-pos;
    left: 1rem;
  }

  .guide__pagination {
    @extend %guide-pos;
    right: 1rem;
  }
}

#contributions {
  padding: 0 1rem;
}

.contribution {
  position: relative;
  margin: 1rem 0;
  border: 1px solid $main-color;

  %margin--top {
    margin-top: 1rem;
  }

  .empty {
    font-family: $ggl-font;
    font-size: $big-text;
    font-weight: bold;
    color: $topic-color;
    margin: 0 0 .5rem;
  }

  .contribution__empty {
    padding: 1rem;
  }

  .contribution__header {
    %guide {
      position: absolute;
      top: .5rem;
      text-align: right;
      font-size: $nml-text;
      z-index: 100;
      @include transition;
      &:hover {
        color: $topic-color;
        cursor: pointer;
      }
    }

    .delete-guide {
      @extend %guide;
      right: 1rem;
    }

    .update-guide {
      @extend %guide;
      right: 2.5rem;
    }
  }

  .contribution__user {
    padding: .5rem 1rem;
    border-bottom: 1px solid $main-color;
    %float--left {
      float: left;
    }
    .contribution__user--username {
      @extend %float--left;
      margin-right: .5rem;
    }
    .contribution__user--userid {
      @extend %float--left;
    }
  }

  .contribution__body {
    padding: 0 1rem;
    @extend %margin--top;
    .contribution__body--title {
      height: 28px;
    }
    .contribution__body--content {
      margin-top: .5rem;
      font-size: $sml-text;
      word-wrap: break-word;
    }
  }

  .contribution__footer {
    padding: 0 1rem .5rem;
    margin-top: 1.5rem;
    font-size: $sml-text - .1;
    .contribution__footer--new {
      color: $topic-color;
    }
  }
}

.pagination {
  position: relative;
  height: 40px;
  padding: 0 1rem;

  .pagination__prev {
    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 10;
  }

  .pagination__current {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .pagination__next {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 10;
  }
}