@import "assets";
@import "mixins";

/**
 * NG Components
 */
#form-ng {
  padding: 1rem 1rem 0;
  height: 28px;
}

#nglist {
  padding: 1rem;
}

.ng {
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid $main-color;
  z-index: 10;

  .ng__word {
    width: 95%;
    word-wrap: break-word;
    .ng-id {
      margin-right: .5rem;
    }
  }

  .ng__delete {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    @include transition;
    &:hover {
      color: $topic-color;
      cursor: pointer;
    }
  }
}