@import "assets";
@import "mixins";

/**
 * Search Component
 */
#search {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: $sub-color2;
  display: none;
  z-index: 1000;
}

.search-wrapper {
  padding: 1rem;

  .search-wrapper__text {
    float: left;
    width: 94px;
  }
}